@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

.fp-container {
  height: 100vh;
  width: 100%;
}

.button {
  border-radius: 3rem;
  padding: 1rem;
  width: 8rem;
  border: none;
}

.header {
  
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(49, 49, 219);
  padding: 0.5rem 1rem 0.5rem;
  color: white;
  h1 {
    cursor: pointer;
  }
  .header-button {
    background-color: rgb(230, 184, 125);
    color: white;
    transition: all 0.3s;
    width: 8rem;
    cursor: pointer;
    font-weight: bold;
    &:hover {
      background-color: rgb(228, 176, 107);
    }
  }
}

.home {
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-image {
  position: absolute;
  width: 300px;
}

.home-img-1 {
  left: 10%;
  top: 10%;
}

.home-img-2 {
  right: 5%;
  bottom: 15%;
  width: 400px;
}

.home-button {
  margin: 1rem;
  background-color: rgb(230, 184, 125);
  color: white;
  transition: all 0.3s;
  width: 8rem;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    background-color: rgb(228, 176, 107);
  }
}


.main-search{
    height: 100vh;
    width: 100%;
    display: flex;
}